.title {
    font-size: 35px;
    font-weight: 400;
  }
  
  .admin_review {
    background-color: white;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }
  
  table th {
    background-color: black;
    color: white;
  }